<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
    <script type="application/ld+json">
    {
      "@context" : "https://schema.org/",
      "@type" : "JobPosting",
      "title" : "Data scientist - statisticien (H/F)",
      "description" : "<p>
      Data Scientist, Statisticien·ne
RÉF : MB/DATASCI/DMSI
Poste à pourvoir en CDI
Localisation : Bassin de St Quentin en Yvelines - Trappes (78)
== Le LNE == 
Leader dans l’univers de la mesure et des références, jouissant d’une forte notoriété en
France et à l’international, le LNE soutient l’innovation industrielle et se positionne
comme un acteur important pour une économie plus compétitive et une société plus
sûre.
Au carrefour de la science et de l’industrie depuis sa création en 1901, le LNE offre son
expertise à l’ensemble des acteurs économiques impliqués dans la qualité et la sécurité
des produits.
Pilote de la métrologie française, notre recherche est au cœur de notre mission de
service public et constitue un facteur fondamental au soutien de la compétitivité des
entreprises.
Nous avons à cœur de répondre aux exigences des industriels et du monde
académique, pour des mesures toujours plus justes, effectuées dans des conditions de
plus en plus extrêmes ou sur des sujets innovants tels que les véhicules autonomes, les
nanotechnologies ou la fabrication additive.
== Missions ==
Au sein du département Sciences des Données et Incertitude de l’entreprise, en tant
qu’ingénieur data scientist vous participez et avez la responsabilité d’études et de
projets en apprentissage statistique ainsi qu’en évaluation de l’incertitude de mesure.
Vous contribuez au développement de ces deux thématiques au travers de différentes
missions :
- la conduite et la réalisation de projets de R&D, internes, nationaux et européens,
comme l’ingénierie incendie, la caractérisation de nanoparticules, l’imagerie
médicale, la performance énergétique des bâtiments, les véhicules autonomes…
- la réalisation des prestations d’évaluation de l’incertitude auprès de nos clients
- le traitement et l’analyse de données et résultats de mesure
- l’assistance technique aux directions opérationnelles dans les différents secteurs
d’activité en essais et étalonnages (chimie, thermique, ingénierie incendie,
physique des aérosols, modélisation …)
La réalisation de ces missions vous conduira à développer des applications
informatiques, publier des résultats scientifiques, faire des présentations, animer des
groupes de travail, encadrer des étudiants et rédiger des rapports techniques.
== Profil ==
Titulaire d’un diplôme d’ingénieur ou d’un Master dans le domaine de la data science,
ou titulaire d’un doctorat en mathématiques appliquées, vous disposez d’une
expérience de 3 ans minimum en Recherche et Développement et avez également des
compétences solides en machine learning et statistiques.
Un très bon niveau de programmation en langage Python est requis, des compétences
en programmation sous matlab et R seront également appréciées ainsi qu’une première
expérience en Deep learning avec les plateformes Tensorflow et Keras.
Autonome vous disposez de capacité à rendre compte et à travailler en équipe.Rigueur, sens de l’organisation et goût pour la polyvalence sont des qualités
recherchées pour ce poste.
Vous êtes doté.e d’un sens de l’organisation et de réactivité afin de gérer les études en
parallèle avec des échéances et conditions de travail variées.
Vous disposez de capacités à communiquer tant à l’oral (contact client, partenaires
scientifiques) qu’à l’écrit.
La maîtrise de l’anglais est exigée.
Des déplacements dans le cadre des projets européens ou congrès et en missions chez
des clients pour des prestations et formations (10-15 jours/an) sont à prévoir, ainsi que
des déplacements réguliers sur le site du LNE Paris.
== Pour candidater == Envoyez votre CV et une lettre de motivation à
adresse-publique@mailbox.org en rappelant en objet la référence de l’offre
(MB/DATASCI/DMSI)
      </p>",
      "identifier": {
        "@type": "PropertyValue",
        "name": "LNE",
        "value": "1"
      },
      "datePosted" : "2021-08-20",
      "validThrough" : "2021-10-18T00:00",
      "employmentType" : "CDI",
      "hiringOrganization" : {
        "@type" : "Organization",
        "name" : "Laboratoire national de métrologie et d'essai",
        "sameAs" : "http://www.lne.fr",
        "logo" : "https://www.lne.fr/themes/custom/lne/images/logo-descripteur.svgz"
      },
      "jobLocation": {
      "@type": "Place",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "29 rue Hennequin",
        "addressLocality": "Trappes",
        "addressRegion": "Ile-de-France",
        "postalCode": "78190",
        "addressCountry": "FR"
        }
      }
    }
    </script>
</head>

<body class="home">

{% include _browser-upgrade.html %}
{% include _navigation.html %}



<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h3><a href="{{ site.github.url}}/archive/">Recent Posts</a></h3>
    {% for post in site.categories.blog limit:5 %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.github.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
      {% else %}
        <h2><a href="{{ site.github.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
